body {
    background-image: url(assets/ct-redeye-millennial-travel-trends-20170224\ 2.jpg);
    background-size: cover;
    min-height: 100%;
    background-size: cover;
    background-attachment: fixed; 
    width: 100%;
}

.nav-link:hover {
   background-color: rgb(255, 0, 0);
}

.active {
    background-color: rgb(0, 0, 0);
}

